body {
    background-color: #fff;
    margin: 0%;
}

.menu {

    display: flex;
    overflow: hidden;
    background-color: #010326;
    position: fixed;
    top: 0;
    width: 100%;
}


#logo {
    position: relative;
    left: 15px;
    justify-content: space-evenly;
}

ul {
    display: flex;
    margin: auto;
    list-style: none;
    padding: 15px;
    align-items: center;
    font-size: 15px;
}

#logo {
    width: 350px;
    height: 100px;
}

.botao {
    background-color: #4A6D1D;
    margin: 4px;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium';
    color: white;

}

.botao:hover {
    background-color: #0FEC0B;
}
#grad2 {
    height: 150px;
    width: 200px;
    background-color: red; 
    background-image: radial-gradient(circle, red, yellow, green);
    z-index: 0;
} 
